/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-learndash-overview {
	background-color: #fbfcff;
	padding: 32px;
	font-family: 'Open Sans', sans-serif;
	.overview {
		width: calc(25% - 90px);
	}

	.block {
		width: calc(50% - 83px);
	}
}

