/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-learndash-overview {
	.overview {
		width: calc(25% - 98px);
	}
	.block {
		width: calc(50% - 98px);
	}

	.below-767{
		.overview{
			width: calc(50% - 98px);
		}
	}
}

