/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-learndash-overview {
	background-color: #fbfcff;
	padding: 32px;
	font-family: "Open Sans", sans-serif;
	.overview {
		width: calc(25% - 24px);
		background: #ffffff;
		border: 1px solid #d6d8e7;
		border-radius: 10px;
		padding: 20px 32px;
	}

	.user-info {
		background: #ffffff;
		border: 1px solid #d6d8e7;
		border-radius: 10px;
		padding: 12px 12px 12px 20px;
	}

	.block {
		width: calc(50% - 16px);
		background: #ffffff;
		border: 1px solid #d6d8e7;
		border-radius: 10px;
		padding: 24px 32px;
		margin-top: 32px;

		.grid-block:hover .hover-effect {
			color: #2067FA; 
			cursor: arrow;
		  }
		  
		.area-chart {
			margin-top: 20px;
		}
		.apexcharts-toolbar {
			display: none;
		}

		.mantine-grid-col,
		.mantine-Grid-col {
			padding: 0;
			width: 91px;
		}

		.mantine-Select-input {
			line-height: 5px;
			background: white;
		}
		.grid-block {
			padding: 16px;
			margin-bottom: 22px;
			margin-top: 0px;
		}
	}
}
